extends ../layouts/main-layout.pug

block styles
    link(rel="stylesheet", href="/css/product.css")
block content
    main
        if products.length > 0
            div.grid
                each product in products
                    acticle.card.product-item
                        header.card__header
                            h1.product__title #{product.title}
                        div.card__image
                            img.product__image(src=product.imageUrl, alt=product.title)
                        div.card__content
                            h2.product__price $#{product.price}
                            p.product__description #{product.description}
                        div.card__actions
                            a.btn(href="/admin/edit-product/" + product.id + "?edit=true") Edit
                            form(action="/admin/delete-product", method="POST")
                                button.btn(type="submit") Delete
        else
            h1 No products found!
