extends ../layouts/main-layout.pug

block styles
    link(rel="stylesheet", href="/css/cart.css")
block content
    main
        if products.length > 0
            ul
                each product in products
                    li.cart__item
                        h2 #{product.productId.title} x#{product.quantity}
                        form(action="/cart-delete-item", method="POST")
                            input(type="hidden", value=csrfToken, name="_csrf")
                            input(type="hidden", value=product.productId._id, name="productId")
                            button.btn.danger(type="submit") Delete
            div.centered
                form(action="/create-order", nethod="POST")
                    input(type="hidden", value=csrfToken, name="_csrf")
                    button.btn(type="submit") Order now
        else
            h1 No products in cart!
